
<template name="DashNav">
  <aside class="dash-nav-container column fourth">
      {{#if currentUser }}
        {{#if loggingIn }}
        {{else}}
          <img src="{{avatar}}" alt="avatar" class="avatar"/>
        {{/if}}
      {{> loginButtons}}
      <nav class="dash-nav-buttons">
        <a href="{{pathFor 'courses.index'}}/?user={{userId}}" class="button button-dash" >
          <h3>My Courses</h3>
        </a>
        <a href="{{pathFor 'resources.index'}}/?user={{userId}}" class="button button-dash" >
          <h3>My Resources</h3>
        </a>
        <a href="0" class="button button-dash">
          <h3>Exercises</h3>
        </a>
        <a href="0" class="button button-dash">
          <h3>Sources</h3>
        </a>
      </nav>
    {{else}}
      <section class="sign-in-panel">
        <h3>Sign up to start learning.</h3>
        {{> loginButtons}}
      </section>
    {{/if}}
  </aside>
</template>
