<template name="CourseSingle">

  {{#with course}}
  <header class="page-header">
    <h2 class="page-title">{{title}}</h2>
    {{#if hasPrivs . }}
      <a class="button add-resource" href="{{pathFor 'new.resource'}}">Add Resource</a>
      <a class="button add-resource" href="{{pathFor 'edit.course'}}">Edit Course</a>
    {{else}}
      {{#if currentUser }}
        <a class="button add-resource" href="{{pathFor 'new.resource'}}">Clone Course</a>
      {{/if}}
    {{/if}}
  </header>

  <aside class="column fourth last">
    <h3>Category</h3>
    {{tax.category}} / {{tax.subject}}
    <h3>Topics</h3>
    <div class="topics">
      {{#each topics}}
        <button class="sort-button item-topic">{{.}}</button>
      {{/each}}
    </div>
    <h3>Description</h3>
    <p>{{description}}</p>
  </aside>
  {{/with}}

  <section class="course-resources column half">
  {{#momentum plugin='growl'}}
    {{#each courseResources}}
    <article class="resource item {{#if complete}} completed {{/if}}">
      <div class="item-content">
        {{#if hasPrivs . }}
          {{#if complete }}
            <button class="undo-action" data-resource="{{_id}}">Undo</button>
          {{else}}
            <button class="complete-action" data-resource="{{_id}}">Complete</button>
          {{/if}}
        {{/if}}
        <div class="item-controls">
          {{#if hasPrivs . }}
            <a href="{{pathFor 'edit.resource'}}"><i class="fa fa-edit"></i></a>
            <i class="fa fa-close" data-action="remove" data-item="{{_id}}" data-type="resource"></i>
          {{/if}}
          </div>
          <i class="kind fa fa-{{action}}"></i>
          <a href="{{pathFor 'resource.single'}}"><h2 class="item-title">{{title}}</h2></a>
          {{#if topic}}
            <button class="item-topic">{{topic}}</button>
          {{/if}}
        </div>
      </article>
      {{/each}}
    {{/momentum}}
  </section>
</template>

