<template name="EditCourse">
  {{#with course}}
    <header class="page-header">
      <h2 class="page-title">Edit {{title}}</h2>
    </header>
    <section class="column half">
      {{#autoForm doc=course collection="Courses" id="editCourseFrom" type="update"}}
        {{> afQuickField name="title"}}
        {{> afQuickField name="description"}}
        {{> afQuickField name="public"}}
        <button type="submit" class="btn">Update Course</button>
      {{/autoForm}}
    </section>
  {{/with}}
</template>
